
@use '../Abstracts/' as *;


.banner {
  padding: 3rem;
  position: relative;

  @media (min-width: 1024px) {
    padding: 5rem;
  }

  @media (min-width: 1440px) {
    padding: 10rem;
  }

  & img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
