
@use '../Abstracts/' as *;

.hero {
  padding: 3rem 2rem;
  position: relative;
  display: grid;
  place-items: center;

  @media (min-width: 1024px) {
    padding: 8rem 5rem;
    display: block;
  }

  @media (min-width: 1440px) {
    padding: 10rem;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  
  }
}

