
@use '../Abstracts/' as *;

.hero {
  padding: 3rem 2rem;
  position: relative;

  @media (min-width: 1024px) {
    padding: 8rem 5rem;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  
  }
}

