
@use '../Abstracts/' as *;


.nav {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  position: relative;

  @media (min-width: 768px) {
    padding: 1.5rem 3rem;
  }

  @media (min-width: 1024px) {
    padding: 1.8rem 5rem;
  }

  @media (min-width: 1440px) {
    padding: 2rem 10rem;
  }
}

