
@use '../Abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 0.5px $text-color;
}

// Header and Headings 

.header {
  margin-bottom: 2rem; 
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .header, .heaading {
    text-align: left;
  }
}

// Logo

.logo {
  font-size: 2rem;
  font-weight: 700;

  & a {
    color: $text-color;
    text-decoration: none;
  }
}

// Menu

.menu__link {
  text-align: left;

  & a {
    color: $text-color;
    text-decoration: none;
  }
}


// Hero

.hero {
  color: $white;
  text-shadow: 0 0 2px $black;
}

.hero__text {
  max-width: 600px;

  @media (min-width: 1024px) {
    text-align: left;
  }
}

// Banner

.banner {

  &__header {
    font-size: 3rem;
    color: $white;
    text-shadow: 0 0 3px $black;

    @media (min-width: 1024px) {
      text-align: left;
    }
  }
}

// Buttons

.btn {
  font-size: 1.2rem;
  font-weight: 700;
}

// Footer

.footer .logo a {
  color: $white;
  font-size: 2.5rem;
}

.footer .menu__link {
  text-align: center;
  width: unset;

  & a {
    color: $white;
  }
}
